@charset "utf-8";
@import url("main_menu.css");








.txt_font {
	font-family: tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.txt_s_font {
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}


.txt_red {
	font-family: tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

.txt_red_b {
	font-family: tahoma;
	font-size: 16px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

.txt_head {
	font-family: tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #00A2E3;
	text-decoration: none;
	
}

.txt_remark {
	font-family: tahoma,;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
.txt_blue {
	font-family: tahoma,;
	font-size: 15px;
	font-weight: bold;
	color: #185A8F;
	text-decoration: none;
}
.txt_white {
	font-family: tahoma,;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
}

.txt_name_bold{
	font-family: tahoma,;
	font-size: 14px;
	color: #813040;
	font-weight:bold;
	text-decoration: none;
}


a.m_menu:link 		{
	font-family: Tahoma;
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;

}

a.m_menu:visited		{
	font-family: Tahoma;
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;

}

a.m_menu:active		{
	font-family: Tahoma;
	color:#0D304D;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;

}

a.m_menu:hover		{
	font-family:  Tahoma;
	color:#0D304D;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;

}





.txt_font_button{
	font-family: tahoma, kodchiangUPC;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}




a.hyperlink:link 		{
	font-family: Tahoma;
	color: #414141;
	text-decoration: none;
	font-size: 14px;

}

a.hyperlink:visited		{
	font-family: Tahoma;
	color: #0675AA;
	text-decoration: none;
	font-size: 14px;

}

a.hyperlink:active		{
	font-family: Tahoma;
	color:#39bdbd;
	text-decoration: none;
	font-size: 14px;

}

a.hyperlink:hover		{
	font-family:  Tahoma;
	color:#39bdbd;
	text-decoration: none;
	font-size: 14px;

}
.border {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #FFFFFF;
}


.txt_blue_reg{
	font-family: tahoma,;
	font-size: 14px;
	color: #185A8F;
	text-decoration: none;
}




a.hyperlink_y:link 		{
	font-family: Tahoma;
	color: #0f8dc8;
	text-decoration: none;
	font-size: 12px;

}

a.hyperlink_y:visited		{
	font-family: Tahoma;
	color: #0f8dc8;
	text-decoration: none;
	font-size: 12px;

}

a.hyperlink_y:active		{
	font-family: Tahoma;
	color:#8EFDFD;
	text-decoration: none;
	font-size: 12px;

}

a.hyperlink_y:hover		{
	font-family:  Tahoma;
	color:#8EFDFD;
	text-decoration: none;
	font-size: 12px;

}


.txt_yellow {
	font-family: tahoma,;
	font-size: 14px;
	font-weight: normal;
	color: #FFFF00;
	text-decoration: none;
}
.txt_footer {
	font-family: tahoma,;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}




a.hyperlink_menu:link 		{
	font-family: Tahoma;
	color: #fff;
	text-decoration: none;
	font-size: 14px;

}

a.hyperlink_menu:visited		{
	font-family: Tahoma;
	color: #fff;
	text-decoration: none;
	font-size: 14px;

}

a.hyperlink_menu:active		{
	font-family: Tahoma;
	color:#8EFDFD;
	text-decoration: none;
	font-size: 14px;

}

a.hyperlink_menu:hover		{
	font-family:  Tahoma;
	color:#8EFDFD;
	text-decoration: none;
	font-size: 14px;

}




a.hyperlink_subject:link 		{
	font-family: Tahoma;
	color: #0675AA;
	font-size: 14px;
	text-decoration:underine;

}

a.hyperlink_subject:visited		{
	font-family: Tahoma;
	color: #0675AA;
	font-size: 14px;
	text-decoration:underine;

}

a.hyperlink_subject:active		{
	font-family: Tahoma;
	color:#E54414;
	font-size: 14px;
	text-decoration:underine;

}

a.hyperlink_subject:hover		{
	font-family:  Tahoma;
	color:#E54414;
	font-size: 14px;
	text-decoration:underine;

}



body {
background-attachment: fixed;
} 