<div class="container footer-container">
  <div class="footer-info">
    <p class="footer-copyright">
      Copyright &copy; 2026 <strong>Faculty of Nursing, Mahidol University</strong>. All rights reserved.
    </p>
    <p class="footer-webmaster">
      Webmaster: <a href="mailto:nswww@mahidol.ac.th">nswww@mahidol.ac.th</a>
    </p>
  </div>
  <div class="footer-links">
    <a href="https://ns.mahidol.ac.th" target="_blank">คณะพยาบาลศาสตร์</a>
    <a href="https://mahidol.ac.th" target="_blank">มหาวิทยาลัยมหิดล</a>
  </div>
</div>
